<div class="Header" [ngClass]="{ minimized: minimized }">
  <div class="Header-top">
    <div class="Header-top-title">
      <div class="Header-top-title-links">
        <h4>Cabinet d'ostéopathie de Roselyne Lean</h4>
        <a class="dark" href="https://maps.app.goo.gl/E6vYw1tQbJ8j22Ye6" target="_blank">
          <span class="pi pi-map-marker"></span>
          <span>Village anglais rue Georges Ohnet, 77340 Pontault-Combault</span>
        </a>
        <a class="dark" href="tel://+33695084023">
          <span class="pi pi-phone"></span>
          <span>06 95 08 40 23</span>
        </a>
      </div>
      <div class="Header-top-title-hexagons" (click)="minimized = !minimized">
        <op-hexagon [width]="35" image="images/rose.jpg"/>
        <op-hexagon [width]="35" image="images/anais.jpg"/>
      </div>
    </div>
    <div class="Header-top-menu">
      <a
        *ngFor="let menuItem of menuItems; index as index"
        class="Header-top-menu-item p-button p-button-rounded p-button-sm p-button-icon"
        (click)="menuItem.command ? menuItem.command({ originalEvent: $event, item: menuItem, index}) : undefined"
        [routerLink]="menuItem.url"
        [ngClass]="{
          'p-button-primary': !isMenuItemActive(index),
          'p-button-secondary': isMenuItemActive(index),
          'dark': !isMenuItemActive(index),
        }"
      >
        <i class="pi {{ menuItem.icon }}"></i>
        <span class="Header-top-menu-item-label">{{ menuItem.label }}</span>
      </a>
    </div>
  </div>

  <div class="Header-top minimalistic">
    <div class="Header-top-title">
      <h4>Cabinet d'ostéopathie</h4>
      <h4>de Roselyne Lean</h4>
    </div>
    <ng-container *ngIf="!isOnAdminPage; else headerTopLinksAdmin">
      <div class="Header-top-links">
        <a class="dark" href="tel://+33695084023">
          <span class="pi pi-phone"></span>
        </a>
        <a class="dark" (click)="appMenuItems[1].command!({ originalEvent: $event, item: appMenuItems[1], index: 1})">
          <span class="pi pi-map-marker"></span>
        </a>
        <a *ngIf="isPractitioner" class="dark" [routerLink]="adminMenuItem.url">
          <span class="pi pi-cog"></span>
        </a>
      </div>
    </ng-container>
    <ng-template #headerTopLinksAdmin>
      <div class="Header-top-links">
        <a class="dark" [routerLink]="adminMenuItems[0].url">
          <span class="pi pi-th-large"></span>
        </a>
      </div>
    </ng-template>
  </div>

  <div *ngIf="!minimized" class="Header-hexagons">
    <op-hexagon
      [width]="100"
      [raised]="true"
      image="images/osteo4.jpg"
      style="transform: translateX(20px) translateY(0px)"
    />
    <op-hexagon
      [width]="120"
      [raised]="true"
      image="images/osteo2.jpg"
      style="z-index: 10; transform: translateX(-0px) translateY(30px)"
    />
    <op-hexagon
      [width]="100"
      [raised]="true"
      image="images/osteo3.jpg"
      style="transform: translateX(-20px) translateY(-10px)"
    />
    <div style="z-index: 10; transform: translateX(20px) translateY(-30px)">
      <op-hexagon
        [width]="200"
        [raised]="true"
        image="images/rose.jpg"
      />
      <div style="text-align: center; transform: translateY(20px)">
        Roselyne LEAN
      </div>
    </div>
    <div style="transform: translateX(5px) translateY(-10px)">
      <op-hexagon
        [width]="180"
        [raised]="true"
        image="images/anais.jpg"
      />
      <div style="text-align: center; transform: translateY(10px);">
        Anais DE CARVALHO
      </div>
    </div>
    <op-hexagon
      [width]="100"
      [raised]="true"
      image="images/osteo5.jpg"
      style="transform: translateX(45px) translateY(0px)"
    />
    <op-hexagon
      [width]="120"
      [raised]="true"
      image="images/osteo6.jpg"
      style="z-index: 10; transform: translateX(25px) translateY(-20px)"
    />
    <op-hexagon
      [width]="100"
      [raised]="true"
      image="images/osteo7.jpg"
      style="z-index: 5; transform: translateX(5px) translateY(20px)"
    />
  </div>
</div>
