/* You can add global styles to this file, and also import other style files */
$accentColor:#ffffff !default;
$accentTextColor:#3F51B5 !default;
$warningButtonBg: #f97316 !default;
$warningButtonTextColor: #ffffff !default;
$warningButtonHoverBg: rgba(#f97316, 0.92) !default;
$warningButtonTextHoverColor: #ffffff !default;
$warningButtonActiveBg: rgba(#f97316, 0.68) !default;
$warningButtonTextActiveColor: #ffffff !default;
$borderRadius: .7rem !default;
$roundedButtonBorderRadius: .7rem !default;

@import "assets/themes/indigo/theme";
@import "assets/utils";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--primary-50);
  &, .p-element {
    font-family: "Exo 2", sans-serif;
  }
}

p-divider {
  width: 100%;
}

.p-button:not(.unclickable) {
  cursor: pointer;
}

.p-dropdown {
  width: 100%;
}

.p-dialog {
  @media (min-width: 1100px) {
    min-width: 500px;
    max-width: 100vw;
    max-height: 90vh;
  }
  @media (max-width: 1100px) {
    width: 100vw;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }
}


.p-timeline-event {
  width: 100%;
  max-width: 1000px;
}

.p-toast {
  @media (max-width: 1000px) {
    width: calc(100vw - 40px);
  }
  &-message-content {
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow-wrap: anywhere;
    .p-toast-icon-close {
      border: 0;
      timesicon {
        display: flex;
      }
    }
  }
}

.p-element.ng-invalid.ng-touched {
  input {
    border-color: #b00020;
    box-shadow: inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020;
  }
}
input.ng-invalid.ng-touched {
  border-color: #b00020;
  box-shadow: inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020;
}
p-inputmask {
  &.invalid {
    input {
      border-color: #b00020;
      box-shadow: inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020, inset 0 0 0 1px #b00020;
    }
  }
}


.p-inputotp {
  gap: 0;
  input {
    padding-left: 0;
    padding-right: 0;
    width: 2rem;
    max-width: 2rem;
  }
  input:not(:first-child) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

p-inputmask input {
  width: 100%;
}

.p-hidden-accessible {
  display: none;
}

a {
  color: var(--primary-color);
  &.dark {
    color: $accentColor;
  }
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

table {
  th {
    background: $accentTextColor;
    color: $accentColor;
  }
  th:first-child {
    border-top-left-radius: 1rem;
  }
  th:last-child {
    border-top-right-radius: 1rem;
  }
  tr:last-child {
    td:first-child {
      border-bottom-left-radius: 1rem;
    }
    td:last-child {
      border-bottom-right-radius: 1rem;
    }
  }
}
