<div class="AvailabilityList-filter">
  <p-button (onClick)="onPreviousWeek()" icon="pi pi-arrow-left"/>
  <p-button (onClick)="onCurrentWeek()">
    Semaine du {{ DateHelper.format(week[0], DateFormat.SHORT_DATE_API) }}
  </p-button>
  <p-button (onClick)="onNextWeek()" icon="pi pi-arrow-right"/>
</div>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////// FOR MOBILE VIEW  //////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div
  *ngIf="isMobile"
  class="AvailabilityListMobile-container"
>
  <div class="AvailabilityListMobile-calendar">
    <div class="AvailabilityListMobile-calendar-days">
      <div *ngFor="let dayOfWeek of week" class="AvailabilityListMobile-calendar-days-item">
        {{ DateHelper.format(dayOfWeek, DateFormat.MEDIUM_DATE) }}
      </div>
      <div class="AvailabilityListMobile-calendar-days-scrollbar"></div>
    </div>

    <div class="AvailabilityListMobile-calendar-week">
      <div class="AvailabilityListMobile-calendar-week-container" #gridMobileComponent tabindex="0">
        <div *ngFor="let dayOfWeek of week" class="AvailabilityListMobile-calendar-week-day">
          <div class="AvailabilityListMobile-calendar-week-day-hours">
            <div *ngFor="let hour of hours" class="AvailabilityListMobile-calendar-week-day-hours-item">
              {{ hour }} h
            </div>
          </div>
          <div class="AvailabilityListMobile-calendar-week-day-grid">
            <div *ngFor="let hour of hours" class="AvailabilityListMobile-calendar-week-day-grid-hour"></div>
            <ng-container *ngIf="getSlotsFromDay(dayOfWeek) as slotsForDay">
              <ng-container *ngTemplateOutlet="slotsForDayTemplate; context: {
              dayOfWeek: dayOfWeek,
              slotsForDay: slotsForDay,
              firstsCreationSlotsData: getCreationSlotsDataFor(
                dayOfWeek,
                null,
                slotsForDay.length ? slotsForDay[0].from : null
              ),
              lastsCreationSlotsData: slotsForDay.length
                ? getCreationSlotsDataFor(dayOfWeek, slotsForDay[slotsForDay.length - 1].to, null)
                : []
            }"/>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////// FOR DESKTOP VIEW  //////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div
  *ngIf="!isMobile"
  class="AvailabilityListDesktop-calendar"
>
  <div class="AvailabilityListDesktop-calendar-days">
    <div class="AvailabilityListDesktop-calendar-days-hours"><!-- Top of column --></div>
    <div *ngFor="let dayOfWeek of week" class="AvailabilityListDesktop-calendar-days-item">
      {{ DateHelper.format(dayOfWeek, DateFormat.MEDIUM_DATE) }}
    </div>
    <div class="AvailabilityListDesktop-calendar-days-scrollbar"></div>
  </div>

  <div class="AvailabilityListDesktop-calendar-week">
    <div class="AvailabilityListDesktop-calendar-week-hours">
      <div *ngFor="let hour of hours" class="AvailabilityListDesktop-calendar-week-hours-item">
        {{ hour }} h
      </div>
    </div>

    <div class="AvailabilityListDesktop-calendar-week-grid" #gridDesktopComponent tabindex="0">
      <div *ngFor="let dayOfWeek of week" class="AvailabilityListDesktop-calendar-week-grid-day">
        <div *ngFor="let hour of hours" class="AvailabilityListDesktop-calendar-week-grid-day-hour"></div>
        <ng-container *ngIf="getSlotsFromDay(dayOfWeek) as slotsForDay">
          <ng-container *ngTemplateOutlet="slotsForDayTemplate; context: {
            dayOfWeek: dayOfWeek,
            slotsForDay: slotsForDay,
            firstsCreationSlotsData: getCreationSlotsDataFor(
              dayOfWeek,
              null,
              slotsForDay.length ? slotsForDay[0].from : null
            ),
            lastsCreationSlotsData: slotsForDay.length
              ? getCreationSlotsDataFor(dayOfWeek, slotsForDay[slotsForDay.length - 1].to, null)
              : []
          }"/>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<op-availability-edit
  *ngIf="editingSlot"
  [slot]="editingSlot"
  (cancelled)="onCancelEdit()"
  (slotEdited)="onSlotEditedOrRemoved()"
  (slotRemoved)="onSlotEditedOrRemoved()"
/>

<op-availability-add
  *ngIf="addingAvailability"
  [practitioner]="practitioner"
  [baseDates]="baseDatesForAddingAvailability"
  (cancelAddingAvailability)="onCancelAdd()"
  (availabilityAdded)="onAvailabilityAdded()"
/>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////// TEMPLATE for slots list in a specific day ////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<ng-template
  #slotsForDayTemplate
  let-dayOfWeek="dayOfWeek"
  let-slotsForDay="slotsForDay"
  let-firstsCreationSlotsData="firstsCreationSlotsData"
  let-lastsCreationSlotsData="lastsCreationSlotsData"
>
  <!-- Empty day -->
  <ng-container *ngIf="slotsForDay.length === 0 && getDefaultSlotDate(dayOfWeek) as defaultSlot">
    <div
      class="AvailabilityList-slot empty"
      [class]="getCssClassesForEmptyDay()"
      [style.cursor]="'pointer'"
      (click)="onAddAvailability(defaultSlot, null)"
    ></div>
  </ng-container>

  <ng-container *ngIf="slotsForDay.length > 0">
    <!-- Firsts creation-slots -->
    <ng-container *ngFor="let creationSlotData of firstsCreationSlotsData">
      <ng-container *ngTemplateOutlet="slotTemplate; context: {
      slot: null,
      from: creationSlotData.from,
      to: creationSlotData.to,
      diff: creationSlotData.diff,
      visible: false
    }"/>
    </ng-container>

    <ng-container *ngFor="let slot of slotsForDay; index as index">
      <!-- Actual created-slot -->
      <ng-container *ngTemplateOutlet="slotTemplate; context: {
      slot: slot,
      from: slot.from,
      to: slot.to,
      diff: DateHelper.getDifferenceOfTimeInMinutes(slot.from, slot.to),
      visible: true
    }"/>

      <!-- In-between creation-slots -->
      <ng-container
        *ngIf="index >= 0
      && index < slotsForDay.length - 1
      && getCreationSlotsDataFor(slot.from, slotsForDay[index].to, slotsForDay[index + 1].from) as inBetweenCreationSlotsData"
      >
        <ng-container *ngFor="let creationSlotData of inBetweenCreationSlotsData">
          <ng-container *ngTemplateOutlet="slotTemplate; context: {
          slot: null,
          from: creationSlotData.from,
          to: creationSlotData.to,
          diff: creationSlotData.diff,
          visible: true
        }"/>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Lasts creation-slots -->
    <ng-container *ngFor="let creationSlotData of lastsCreationSlotsData">
      <ng-container *ngTemplateOutlet="slotTemplate; context: {
      slot: null,
      from: creationSlotData.from,
      to: creationSlotData.to,
      diff: creationSlotData.diff,
      visible: false
    }"/>
    </ng-container>
  </ng-container>
</ng-template>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////// TEMPLATE for a specific created-slot or creation-slot //////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<ng-template
  #slotTemplate
  let-slot="slot"
  let-from="from"
  let-to="to"
  let-diff="diff"
  let-visible="visible"
>
  <div
    class="AvailabilityList-slot p-button"
    (click)="slot ? onEditSlot(slot) : onAddAvailability(from, to)"
    [class]="getCssClassesForSlot(from, to)"
    [ngClass]="{
      'creation': !slot,
      'visible': visible,
      'p-button-primary': slot?.practitioner === Practitioner.ROSE,
      'p-button-help': slot?.practitioner === Practitioner.ANAIS,
      'p-button-outlined': !slot?.hasPatient
    }"
  >
    <!-- Creation-slot -->
    <ng-container *ngIf="!slot">
      <span class="ml-6">{{ DateHelper.parseMinutes(diff) }}</span>
    </ng-container>

    <!-- Created-slot -->
    <ng-container *ngIf="slot">
      <div class="AvailabilityList-slot-details" [ngClass]="{ 'condensed': diff < DEFAULT_SLOT_DURATION }">
        <div *ngIf="diff >= DEFAULT_SLOT_DURATION || !slot.patient">
          <span class="pi pi-clock"></span>
          <span class="ml-8">{{ DateHelper.format(slot.from, DateFormat.TIME) }} • {{ DateHelper.parseMinutes(DateHelper.getDifferenceOfTimeInMinutes(slot.from, slot.to)) }}</span>
        </div>
        <div *ngIf="slot.patient" class="AvailabilityList-slot-details-patient mt-2">
          <span class="pi pi-user"></span>
          <span class="ml-8">{{ slot.patient.lastname }}</span>
          <span *ngIf="diff < DEFAULT_SLOT_DURATION">&nbsp;• {{ DateHelper.parseMinutes(DateHelper.getDifferenceOfTimeInMinutes(slot.from, slot.to)) }}</span>
        </div>
      </div>
      <div *ngIf="diff >= DEFAULT_SLOT_DURATION" class="AvailabilityList-slot-practitioner">
        <op-practitioner-icon [practitioner]="slot.practitioner"/>
      </div>
    </ng-container>
  </div>
</ng-template>
