<p-dialog
  [modal]="true"
  [closable]="false"
  [visible]="true"
  [showHeader]="false"
  [draggable]="false"
>
  <div class="p-dialog-header Appointment-header">
    <div class="p-dialog-title">
      Créneau du {{ DateHelper.format(slot.from, DateFormat.DATE_TIME) }}
    </div>
    <op-practitioner-icon
      [practitioner]="slot.practitioner"
      [width]="50"
    />
  </div>
  <form class="Appointment-form" [formGroup]="form">
    <p class="Appointment-form-input">
      <label> Nom * </label>
      <input
        type="text"
        pInputText
        [autofocus]="false"
        [formControl]="form.controls.lastname"
        (focusout)="onFocusOutLastname()"
      />
    </p>
    <p-divider/>
    <p class="Appointment-form-input">
      <label> Prénom * </label>
      <input
        type="text"
        pInputText
        [autofocus]="false"
        [formControl]="form.controls.firstname"
        (focusout)="onFocusOutFirstname()"
      />
    </p>
    <p-divider/>
    <p class="Appointment-form-input">
      <label> Téléphone * </label>
      <op-input-phone
        [formControl]="form.controls.phone"
        (focusout)="onFocusOutPhone()"
      />
    </p>
    <p-divider/>
    <p class="Appointment-form-input">
      <label> Type de séance : </label>
      <p-dropdown
        appendTo="body"
        [autofocus]="false"
        [options]="patientTypeOptions"
        [formControl]="form.controls.type"
        (onChange)="onChangedPatientType()"
      />
    </p>
  </form>
  <p-footer>
    <p-messages
      *ngIf="isSlotForChildrenOnly"
      [value]="[{
        'severity': 'warn',
        'summary': 'Les créneaux du mercredi sont réservés aux bébés/enfants'
      }]"
      [enableService]="false"
      [closable]="false"
    />
    <p-button (onClick)="cancelAppointment.emit()">Annuler</p-button>
    <p-button
      severity="warning"
      (onClick)="onBookAppointment()"
      [disabled]="!canBook"
      [loading]="isBookingAppointment"
    >
      Réserver le créneau
    </p-button>
  </p-footer>
</p-dialog>
