$headerHeight: 72px;
$adminContainerPadding_LG: 3rem;
$adminContainerPadding_SM: 1rem;
$filterHeight: 40px;
$filterMarginBottom_LG: 3rem;
$filterMarginBottom_SM: 1rem;
$gridBorderWidth: 1px;
$hoursColumnWidth: 50px;
$gridBorderColor: #dde3ea;

// LARGE SCREEN
$calendarWidth_LG: calc(90vw - 2 * $adminContainerPadding_LG);
$calendarHeight_LG: calc(100vh - $headerHeight - 2 * $adminContainerPadding_LG - $filterHeight - $filterMarginBottom_LG - 1px);
$dayColumnWidth_LG: calc(($calendarWidth_LG - $hoursColumnWidth) / 7);
$hourRowHeight_LG: 60px;

// SMALL SCREEN
$dayColumnWidth_SM: calc(100vw - 2 * $adminContainerPadding_SM);
$calendarWidth_SM: calc($dayColumnWidth_SM * 7);
$calendarHeight_SM: calc(95vh - $headerHeight - 2 * $adminContainerPadding_SM - $filterHeight - $filterMarginBottom_SM - 1px);
$hourRowHeight_SM: 60px;

@for $i from 0 through 24 * 60 {
  .AvailabilityList-slot-top-#{$i} {
    top: calc($i * $hourRowHeight_LG / 60 - 1px);
    @media (max-width: 800px) {
      top: calc($i * $hourRowHeight_SM / 60 - 1px);
    }
  }
}

@for $i from 0 through 24 * 60 {
  .AvailabilityList-slot-height-#{$i} {
    height: calc($i * $hourRowHeight_LG / 60 - 2px);
    min-height: calc($i * $hourRowHeight_LG / 60 - 2px);
    max-height: calc($i * $hourRowHeight_LG / 60 - 2px);
    @media (max-width: 800px) {
      height: calc($i * $hourRowHeight_SM / 60 - 2px);
      min-height: calc($i * $hourRowHeight_SM / 60 - 2px);
      max-height: calc($i * $hourRowHeight_SM / 60 - 2px);
    }
  }
}

.AvailabilityListDesktop {
  &-calendar {
    width: $calendarWidth_LG;
    height: $calendarHeight_LG;

    &-days {
      height: $hourRowHeight_LG;
      display: flex;
      text-align: center;
      color: rgba(var(--v-theme-white));;
      background-color: rgba(var(--v-theme-primary));
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      &-item {
        flex: 1 1 0;
        padding: 1rem;
      }

      &-hours {
        width: $hoursColumnWidth;
      }

      &-scrollbar {
        overflow-y: scroll;
        visibility: hidden;
      }
    }

    &-week {
      display: flex;
      overflow: auto;
      height: calc($calendarHeight_LG - $hourRowHeight_LG);

      &-hours {
        width: $hoursColumnWidth;
        height: calc(24 * $hourRowHeight_LG);
        color: white;
        background-color: rgba(var(--v-theme-primary));

        &-item {
          height: $hourRowHeight_LG;
          font-size: .9rem;
          font-weight: bold;
          text-align: center;
          transform: translateY(-7px);
        }
      }

      &-grid {
        z-index: 1;
        width: 100%;
        display: flex;

        &-day {
          width: $dayColumnWidth_LG;
          height: calc(24 * $hourRowHeight_LG);
          flex: 1 1 0;
          position: relative;
          box-sizing: border-box;
          border-left: 1px solid $gridBorderColor;

          &-hour {
            height: $hourRowHeight_LG;
            border-bottom: 1px solid $gridBorderColor;
          }
        }
      }
    }
  }
}

.AvailabilityListMobile {
  &-container {
    width: $dayColumnWidth_SM;
    overflow-x: auto;
  }

  &-calendar {
    width: $calendarWidth_SM;
    height: $calendarHeight_SM;

    &-days {
      height: $hourRowHeight_SM;
      display: flex;
      text-align: center;
      color: white;
      background-color: rgba(var(--v-theme-primary));
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      &-item {
        flex: 1 1 0;
        padding: 1rem;
      }

      &-scrollbar {
        overflow-y: scroll;
        visibility: hidden;
      }
    }

    &-week {
      height: calc($calendarHeight_SM - $hourRowHeight_SM);
      overflow-y: auto;

      &-container {
        display: flex;
      }

      &-day {
        width: $dayColumnWidth_SM;
        display: flex;

        &-hours {
          width: $hoursColumnWidth;
          height: calc(24 * $hourRowHeight_SM);
          color: white;
          background-color: rgba(var(--v-theme-primary));

          &-item {
            height: $hourRowHeight_SM;
            font-size: .9rem;
            font-weight: bold;
            text-align: center;
            transform: translateY(-7px);
          }
        }

        &-grid {
          width: calc($dayColumnWidth_SM - $hourRowHeight_SM);
          height: calc(24 * $hourRowHeight_LG);
          flex: 1 1 0;
          position: relative;
          box-sizing: border-box;
          border-left: 1px solid $gridBorderColor;
          z-index: 1;

          &-hour {
            width: calc($dayColumnWidth_SM - $hourRowHeight_SM);
            height: $hourRowHeight_LG;
            border-bottom: 1px solid $gridBorderColor;
          }
        }
      }
    }
  }
}

.AvailabilityList {
  &-filter {
    height: $filterHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: $filterMarginBottom_LG;
    @media (max-width: 800px) {
      margin-bottom: $filterMarginBottom_SM;
    }
  }

  &-slot {
    z-index: 2;
    width: calc($dayColumnWidth_LG - 3px);
    position: absolute !important;
    font-size: .8rem !important;
    margin-left: 1px;
    margin-top: 1px;
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: 800px) {
      width: calc($dayColumnWidth_SM - $hoursColumnWidth - 3px);
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 1rem;
      right: 1rem;
    }

    &:not(.empty) {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

    &.visible {
      opacity: 1;
    }

    &.outlined {
      background-color: white;
      &:hover {
        background-color: rgba(var(--v-theme-primary-soft));
      }
    }

    &.creation {
      opacity: 0;
      justify-content: center;
      background-color: rgba(var(--v-theme-primary-soft));
      &.visible, &:hover {
        opacity: 1;
      }
    }

    &-details {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &-patient {
        display: flex;
        align-items: center;
      }

      &.condensed {
        font-size: .7rem;
      }
    }
  }
}
