@for $i from 0 through 50 {
  .ma-#{$i} {
    margin: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .pa-#{$i} {
    margin: #{$i}px;
  }
  .pt-#{$i} {
    margin-top: #{$i}px;
  }
  .pb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .pl-#{$i} {
    margin-left: #{$i}px;
  }
  .pr-#{$i} {
    margin-right: #{$i}px;
  }
}
