.unclickable {
  cursor: default;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.color-inherit {
  color: inherit;
}

.color-white {
  color: rgba(var(--v-theme-white));
}

.color-primary {
  color: rgba(var(--v-theme-primary));
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-inf {
  z-index: 9999;
}

@for $i from 0 through 10 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
}

@for $i from 0 through 50 {
  .top-#{$i}p {
    top: #{$i}#{'%'},;
  }
  .left-#{$i}p {
    left: #{$i}#{'%'},;
  }
}
