.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-header {
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 2rem;
  }

  &-next-appointment {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    @media (max-width: 1100px) {
      margin-bottom: 1rem;
    }
  }

  &-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    cursor: pointer;
  }

  &-content {
    height: 100%;
    overflow: auto;
  }

  &-timeline {
    flex-grow: 0;
    flex-shrink: 1;
  }

  &-scroll_top {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    @media (max-width: 1100px) {
      bottom: 1px;
      right: 1px;
    }
  }
}
