<div class="Admin">

  <op-header class="Admin-header"/>

  <op-login
    *ngIf="!isAuthenticatedAsPractitioner"
    class="Admin-login"
    (loggedIn)="onLoggedIn()"
  />

  <div *ngIf="isAuthenticatedAsPractitioner && practitioner" class="Admin-container">
    <p-button
      (onClick)="onSwitchScreenShown()"
      class="Admin-screenSwitcher"
      severity="warning"
    >
      <span class="pi pi-bookmark-fill mr-6"></span>
      {{ isShowingAvailabilities ? "Activité du site" : "Gestion des créneaux" }}
    </p-button>

    <op-availability-list
      *ngIf="isShowingAvailabilities"
      class="Admin-list"
      [practitioner]="practitioner"
    />

    <op-sessions-list
      *ngIf="!isShowingAvailabilities"
      class="Admin-list"
    />

    <op-pwa-prompt/>
    <op-logout/>
  </div>

  <op-toaster/>
</div>
