$listWidthLargeScreen: calc(100vw - 2 * 3rem); // total viewport width - 2 * admin container padding
$listHeight: calc(100vh - 70px - 2 * 1rem - 42px - 3rem - 42px - 5px); // total viewport height - header - admin container padding - filter height - filter margin bottom - scroll top size

.Sessions {
  position: relative;
  &-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    height: $listHeight;
    border: 1px solid white;
    border-radius: 1rem;
    background: white;
    overflow: auto;
    padding: 1rem;
    @media (min-width: 1100px) {
      width: $listWidthLargeScreen;
    }
  }

  &-item {
    display: block;
    margin-bottom: 1rem;
    ::ng-deep .p-accordion-header-link, .p-accordion-content {
      background: var(--primary-color);
      color: white;
    }
    &-actions {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &-time {
      font-weight: bold;
      flex-basis: 10%;
      min-width: 100px;
    }
  }
}
