<div class="Sessions-navigation">
  <p-button (onClick)="onPreviousDay()" icon="pi pi-arrow-left"/>
  <p-button (onClick)="onCurrentDay()">
    {{ DateHelper.format(baseDateForSearch, DateFormat.FULL_DATE) }}
  </p-button>
  <p-button (onClick)="onNextDay()" icon="pi pi-arrow-right"/>
</div>

<div class="Sessions-list">
  <ng-container *ngIf="isLoadingSessions">
    <p-progressSpinner [ngStyle]="{ margin: 'auto' }"/>
  </ng-container>

  <h4
    *ngIf="!isLoadingSessions && !sessionsByUser.length"
    style="text-align: center"
  >
    Aucune activité ce jour
  </h4>

  <p-accordion
    *ngIf="!isLoadingSessions"
    [style.width]="'100%'"
    expandIcon="none"
    collapseIcon="none"
  >
    <p-accordionTab
      *ngFor="let sessionsForUser of sessionsByUser; index as index"
      [header]="getHeaderForUserSessions(sessionsForUser, index)"
      class="Sessions-item"
      iconPos="start"
    >
      <p-accordion
        expandIcon="none"
        collapseIcon="none"
      >
        <p-accordionTab
          *ngFor="let session of sessionsForUser.sessions; index as index"
          [header]="getHeaderForSession(session, index)"
          class="Sessions-item-actions"
        >
          <div *ngFor="let actionData of session.actions" class="Sessions-action">
            <span class="Sessions-action-time">
             {{ DateHelper.format(actionData.date, DateFormat.TIME_SECONDS) }}
            </span>
            <span class="Sessions-action-text">
              {{ getReadableAction(actionData.action) }}
              <span *ngIf="actionData.data && actionData.data.length">
                {{ getReadableData(actionData) }}
              </span>
            </span>
          </div>
        </p-accordionTab>
      </p-accordion>
    </p-accordionTab>
  </p-accordion>
</div>
