<p-dialog
  [modal]="true"
  [visible]="true"
  [closable]="false"
>
  <p-header>
    Infos pratiques
  </p-header>
  <div class="Infos">
    <div class="Infos-item">
      <span class="pi pi-map-marker mr-6"></span>
      <a href="https://maps.app.goo.gl/E6vYw1tQbJ8j22Ye6" target="_blank">Village anglais avenue Georges Ohnet, 77340 Pontault-Combault</a>
    </div>
    <div class="Infos-item">
      <span class="pi pi-phone mr-6"></span>
      <a [attr.href]="phone">{{ ROSE_PHONE }}</a>
    </div>
    <div class="Infos-item">
      <span class="pi pi-euro mr-6"></span>
      <span>Paiement par chèque ou espèces — pas de CB</span>
    </div>
    <div class="Infos-item">
      <span class="pi pi-thumbs-up mr-6"></span>
      <span>Conventionné pour remboursement mutuelle</span>
    </div>
    <div class="Infos-item">
      <span class="pi pi-car mr-6"></span>
      <span>Parking et services à proximité (pharmacie, poissonnerie, boulangerie, ...)</span>
    </div>
  </div>
  <p-footer>
    <p-button (onClick)="closeIt.emit()">Ok</p-button>
  </p-footer>
</p-dialog>
