<p-dialog
  [modal]="true"
  [closable]="false"
  [visible]="true"
>
  <p-header>
    Modifier un créneau
  </p-header>
  <form class="Availability-edit-form" [formGroup]="form">
    <input type="hidden"/>
    <p class="Availability-edit-form-input">
      <label> De : </label>
      <p-calendar
        appendTo="body"
        [formControl]="form.controls.from"
        [timeOnly]="true"
      />
    </p>
    <p class="Availability-edit-form-input">
      <label> À : </label>
      <p-calendar
        appendTo="body"
        [formControl]="form.controls.to"
        [timeOnly]="true"
        [showOnFocus]="false"
      />
    </p>
    <p class="Availability-edit-form-input">
      <label> Pour : </label>
      <p-dropdown
        appendTo="body"
        [options]="Object.values(Practitioner)"
        [formControl]="form.controls.practitioner"
      />
    </p>
    <p-divider/>
    <p class="Availability-edit-form-input mb-24" style="flex-direction: row">
      <label> Patient : </label>
      <p-inputSwitch
        [formControl]="form.controls.hasPatient"
        (onChange)="onHasPatientChanged()"
      />
    </p>
    <ng-container *ngIf="form.controls.hasPatient.value" [formGroup]="form.controls.patient">
      <p *ngIf="form.controls.bookedAt.value" class="Availability-edit-form-input">
        <label> Créneau pris le </label>
        <p-calendar
          appendTo="body"
          [dateFormat]="DateFormat.DATE_PRIME"
          [formControl]="form.controls.bookedAt"
          [showTime]="true"
          [disabled]="true"
        />
      </p>
      <p class="Availability-edit-form-input">
        <label> Nom </label>
        <input
          type="text"
          pInputText
          [formControl]="form.controls.patient.controls.lastname"
        />
      </p>
      <p class="Availability-edit-form-input">
        <label> Prénom </label>
        <input
          type="text"
          pInputText
          [formControl]="form.controls.patient.controls.firstname"
        />
      </p>
      <p class="Availability-edit-form-input">
        <label> Téléphone </label>
        <op-input-phone
          [formControl]="form.controls.patient.controls.phone"
        />
      </p>
      <p class="Availability-edit-form-input">
        <label> Type de séance : </label>
        <p-dropdown
          appendTo="body"
          [options]="Object.values(PatientType)"
          [formControl]="form.controls.patient.controls.type"
        />
      </p>
    </ng-container>
  </form>
  <p-footer>
    <p-button (onClick)="cancelled.emit()">Annuler</p-button>
    <p-button (onClick)="onRemoveSlot()" severity="danger" [loading]="isEditingSlot">Supprimer</p-button>
    <p-button (onClick)="onEditSlot()" severity="warning" [loading]="isEditingSlot">Modifier</p-button>
  </p-footer>
</p-dialog>

<p-dialog [modal]="true" [visible]="isRemovingSlot">
  <p-header>
    Confirmer la suppression du créneau ?
  </p-header>
  <p-footer>
    <p-button (onClick)="onCancelRemoveSlot()">Annuler</p-button>
    <p-button (onClick)="onConfirmRemoveSlot()" severity="danger" [loading]="isEditingSlot">Supprimer</p-button>
  </p-footer>
</p-dialog>
