.NextAppointment {
  display: flex;
  align-items: center;

  &-prefix {
    .pi {
      font-size: 1.1rem;
    }
    .shortcut {
      display: none;
    }
    @media (max-width: 1100px) {
      .full, .pi {
        display: none;
      }
      .shortcut {
        display: block;
      }
    }
  }

  &-date {
    b {
      font-size: 1.1rem;
    }
    @media (max-width: 1100px) {
      .pi {
        display: none;
      }
    }
  }
}
