.Timeline {
  &-slots {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    &-slot {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-separator {
    position: relative;
    transform: translateY(25%);
  }
}

:host ::ng-deep {
  p-timeline {
    .p-timeline-event {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .p-timeline-event-connector {
      transform: translateY(1.25rem);
    }
    .p-timeline-event-opposite {
      *:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
